#pool {
background-color: rgb(164, 204, 255)
}
#greenBut {
  width: 90px;
  height: 40px;
  background-color: green;
}
#redBut {
  width: 90px;
  height: 40px;
  background-color: red
}
#blueBut {
  width: 90px;
  height: 40px;
  background-color: blue
}
#cyanBut {
  width: 90px;
  height: 40px;
  background-color: cyan
}
#yellowBut {
  width: 90px;
  height: 40px;
  background-color: yellow
}
#pinkBut {
  width: 90px;
  height: 40px;
  background-color: pink
}
#orangeBut {
  width: 90px;
  height: 40px;
  background-color: orange
}
#purpleBut {
  width: 90px;
  height: 40px;
  background-color: rgb(174, 0, 255)
}
#blackBut {
  width: 90px;
  height: 40px;
  background-color: rgb(0, 0, 0)
}
#whiteBut {
  width: 90px;
  height: 40px;
  background-color: rgb(255, 255, 255)
}
#plusBut{
  width: 45px
}
#minusBut{
  width: 45px
}
#deleteBut{
  width: 90px
}
#pallet{
width: 90px
}
